<!-- <h1>Movie Lists</h1>
<ul style="list-style-type:none;">
    <div><% data.forEach(function(i){%>
    <li><h1><%= i["course_name"] %></h1></li>
    

<%})   %>
</ul></div> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notch</title>
    

<style>
   
 


    html{
        height: 100%;
        }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        background: linear-gradient(#141e30, #243b55);	
    }
    
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
    }
    
    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #F1EEE6;
        text-align: center;
    }
    
    .login-box .user-box {
        position: relative;
    }
    
    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #F1EEE6;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #F1EEE6;
        outline: none;
        background: transparent;
    }
    
    .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #F1EEE6;
        pointer-events: none;
        transition: .5s;
    }
    
    .login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label {
        top: -20px; 
        left: 0px; 
        color: #03E9F4;
        font-size: 12px;
    }
    
    
    .login-box form a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03E9F4;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin: 0;
        letter-spacing: 4px;
    }
    
    .login-box form a:hover {
        background: #03E9F4;
        color: #F1EEE6;
        border-radius: 5px;
        box-shadow: 0 0 5px #03E9F4,
                                 0 0 25px #03E9F4,
                                 0 0 50px #03E9F4,
                                 0 0 100px #03E9F4;
    }
    
    .login-box a span {
        position: absolute;
        display: block;
    }
    
    .login-box a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-anim1 1s linear infinite;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
    }
    
    .login-box span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03E9F4);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s;
    }
    
    @keyframes btn-anim2 {
        0%{
            top: -100%;
        }
        50%,100% {
            top: 100%;
        }
    }
    
    .login-box span:nth-child(3){
        bottom: 0;
        tight: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03E9F4);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s;
    }
    
    @keyframes btn-anim3 {
        0%{
            right: -100%;
        }
        50%,100% {
            right: 100%;
        }
    }
    
    .login-box span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #30E9F4);
        animation: btn-anim4 1s linear infinite;
        animation-dealy: .75s;
    }
    
    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
    }button{
        padding: 0;
        border:none;
        margin-top: 40px;
        background: rgba(0,0,0,.5);
    }
    a{
        margin: 0;
    }
    input[type=date] {
        color: blue;
    }
    
   
</style>
</head>
<body> 
    <%
    n =  new Date();
    y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
date =y + '-' +
(m < 10 ? '0' : '') + m + '-' +
(d < 10 ? '0' : '') + d;
n.setDate(n.getDate() + 7);
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
new_date=y + '-' +
(m < 10 ? '0' : '') + m + '-' +
(d < 10 ? '0' : '') + d;
    %>
    
<div class="login-box">
	<h2>Book Your Session</h2>
	<form id="form">
		<div class="user-box">
			<input type="text" name="parent_name"  required="" >
			<label>Parent Name</label>
		</div>
		<div class="user-box">
			<input type="number" name="contact" required>
			<label for="">Parent Contact Number</label>
        </div>
        <div class="user-box">
			<input type="email" name="email" required>
			<label for="">Parent EmailID</label>
        </div>
        <div class="user-box">
			<input type="text" name="name" required>
			<label for="">Child Name</label>
        </div>
        <div class="user-box" >
			<input style="margin-bottom: 10px;" type="number" name="age" required>
			<label for="">Child Age</label>
        </div>
        <p style="color: aliceblue; margin-bottom:5px;" for="">Course</p>
        
        <div class="user-box">
			
                <select onchange="selfun()" id="course" name="select" style="width: 100%; height:40px; color:#03E9F4;background-color:#141e30">
                    <option value="5"> Courses</option>
                    <option value="0"> <%=data[0]["course_name"]%></option>
                    <option value="1"><%=data[1]["course_name"]%></option>
                    <option value="2"><%=data[2]["course_name"]%></option>
                    <option value="3"><%=data[3]["course_name"]%></option>
                    <option value="4"><%=data[4]["course_name"]%></option>
                   
                </select>
           
		
        </div>
        <p style="color: aliceblue; margin-bottom:5px;" for="">Date for Class</p>

        <div class="user-box" >
			<input style="color: #03E9F4;margin-bottom: 10px;"  type="date" value="<%=date%>" min="<%=date%>" max="<%=new_date%>" name="date" id="CD">
			
        </div>
        <p style="color: aliceblue; margin-bottom:5px;" for="">Slot for Class</p>
        
            <select class="user-box" id="slot" name="select" style="width: 100%; height:40px; color:#03E9F4;background-color:#141e30">
                <option value="0"> Time Slot for class</option>   
            </select>
        
        <button type="submit" onclick="submitForm() ">
		<a href="">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Submit
		</a></button>
	</form>
</div>
</body>
<script>
    
function submitForm() {
    // Get the first form with the name
    // Usually the form name is not repeated
    // but duplicate names are possible in HTML
    // Therefore to work around the issue, enforce the correct index
    var frm = document.getElementsById('form');
    frm.submit(); // Submit the form
    frm.reset();  // Reset all form data
    return false; // Prevent page refresh
 }
 function selfun(){ 
    n =  new Date();
    y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
t=n.getHours();
n.setDate(n.getDate() + 7);
yn = n.getFullYear();
mn = n.getMonth() + 1;
dn = n.getDate();

    fetch('https://script.googleusercontent.com/macros/echo?user_content_key=ABVEkxlexxd0wL88n3EL56SVbf5bfND5ipBi2sCdbNjbvZcTbyylpIGPvNkOhu_QGKmTIvViAzXFRQm35SeeOddVG0TIgU9im5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnC09Nb0QZ6ca_LU0vmo6mSiQ7SyFG3CgdL9-1Vgcha-TAYaAGhh-9xNG-9rMNEZHQRElvdDletx0&lib=MlJcTt87ug5f_XmzO-tnIbN3yFe7Nfhi6')
    .then(response => response.json())
    .then(data => 
    data.forEach(function(i){
    var select=document.getElementById("course").value;
    if(select=i["course_name"]){
        i["slots"].forEach(function(j){
            var sel = document.getElementById('slot');
    var opt = document.createElement('option');
    let x= new Date(parseInt(j["slot"]));
    yl = x.getFullYear();
ml= x.getMonth() + 1;
dl = x.getDate();
tl=x.getHours();
hl=x.getMinutes();
let str=dl+"-"+ml+"-"+yl+" "+tl+":"+hl;
if(dl<=dn && dl>d){
    opt.appendChild( document.createTextNode(str) );
    opt.value = j["slot"]; 
    sel.appendChild(opt);}
    else{
        if(d==dl && tl>t+4){
            opt.appendChild( document.createTextNode(str) );
    opt.value = j["slot"]; 
    sel.appendChild(opt);
        }
    }
            })
    }
    

})  );}
</script>

</html>